Checks: >
  clang-*,
  readability-*,
  identifier-*,
  performance-*,
  google-*,
  portability-*,
  misc-*,
  bugprone-*,
  llvm-*,
  -llvm-header-guard,
  -bugprone-exception-escape

WarningsAsErrors: "*"

FormatStyle: "google"
